{% extends 'base.html.twig' %}

{% set show_footer = false %}

{% block title %}Connexion{% endblock %}

{% block head %}
	<!-- CSS -->
    <link href="{{ asset('./assets/css/login.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="login-page">
        <div class="login-container">
            <img src="{{ asset('/assets/img/LogoPagos.png') }}" alt="Logo">
            <form method="post" action="{{ path('app_login') }}">
                {# Affichage des messages d'erreur #}
                {% for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger error-message">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% if error %}
                    <div class="alert alert-danger error-message">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <p><label for="inputEmail" class="fw-bold">Identifiant :</label></p>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Renseigner votre email" required autofocus>
                <br>
                <p><label for="inputPassword" class="fw-bold">Mot de passe : </label></p>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Renseigner votre mot de passe" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="text-center">
                    <button class="btn btn-secondary" type="submit">
                        <b>CONNEXION</b>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}