{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur - ADMIN{% endblock %}

{% block head %}
	<!-- CSS -->
    <link href="{{ asset('./assets/css/creationUserAdmin.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	{% include('/partials/navigationAdmin.html.twig') %}

	<div class="custom-rectangle">
		<h2 class="form-title">CRÉER UN UTILISATEUR</h2>

		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		{{ form_errors(registrationForm) }}
		{{ form_start(registrationForm) }}

		<div class="form-group">
			{{ form_label(registrationForm.id, 'Identifiant Interne de SYLOB :') }}
			{{ form_widget(registrationForm.id, {'attr': {'class': 'form-control', 'placeholder': 'Renseigner l\'identifiant'}}) }}
			{{ form_errors(registrationForm.id) }}
		</div>
		<div class="form-group">
			{{ form_label(registrationForm.prenom, 'Prénom :') }}
			{{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Renseigner le prénom de l\'utilisateur'}}) }}
			{{ form_errors(registrationForm.prenom) }}
		</div>
		<div class="form-group">
			{{ form_label(registrationForm.nom, 'Nom :') }}
			{{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Renseigner le nom de l\'utilisateur'}}) }}
			{{ form_errors(registrationForm.nom) }}
		</div>
		<div class="form-group">
			{{ form_label(registrationForm.email, 'Email :') }}
			{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Renseigner l\'email'}}) }}
			{{ form_errors(registrationForm.email) }}
		</div>
		<div class="form-group">
			{{ form_label(registrationForm.plainPassword, 'Mot de passe :') }}
			{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Renseigner le mot de passe'}}) }}
			{{ form_errors(registrationForm.plainPassword) }}
		</div>
		<div class="form-group">
			{{ form_label(registrationForm.webtaskOuvertureContact, 'Webtask Ouverture Contact :') }}
			{{ form_widget(registrationForm.webtaskOuvertureContact, {'attr': {'class': 'form-check-input'}}) }}
			{{ form_errors(registrationForm.webtaskOuvertureContact) }}
		</div>
		<div class="form-group">
			{{ form_label(registrationForm.roles, 'Rôles') }}
			{{ form_widget(registrationForm.roles, {'attr': {'class': 'roles-checkbox'}}) }}
			{{ form_errors(registrationForm.roles) }}
		</div>
		<div class="form-group">
			{{ form_label(registrationForm.idclient, 'Clients :') }}
			{{ form_widget(registrationForm.idclient, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(registrationForm.idclient) }}
		</div>

		<div class="btn-group" role="group">
			<button type="submit" class="btn btn-secondary" id="submitButton">
				<b>ENREGISTRER</b>
			</button>
		</div>
		{{ form_end(registrationForm) }}
	</div>

	<!-- JS de Bootstrap et dépendances -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
	<script src="{{ asset('./assets/js/creationUserAdmin.js') }}"></script>
{% endblock %}