{% extends 'base.html.twig' %}

{% block title %}Clients de PAGOS - ADMIN{% endblock %}

{% block head %}
	<!-- CSS -->
    <link href="{{ asset('./assets/css/clientDePagosAdmin.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	{% include('/partials/navigationAdmin.html.twig') %}

	<div class="client-container">
		<h2 class="title">CLIENTS DU CABINET PAGOS</h2>
		<div
			class="client-card">
			<!-- Table d'affichage des clients -->
			<table class="client-table">
				<thead>
					<tr>
						<th>Logo</th>
						<th>Nom du Client</th>
						<th>Utilisateurs Associés</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for client in clients %}
						<tr>
							<td><img src="data:image/png;base64,{{ client.logoBase64 }}" alt="Logo de {{ client.raisonSociale }}" class="client-img"/></td>
							<td>{{ client.raisonSociale }}</td>
							<td>
								<ul>
									{% set hasUsers = false %}
									{% for user in users %}
										{% if user.idclient is not null and user.idclient.getid() == client.id %}
											{% set hasUsers = true %}
											<li>
												<span class="user-icon">👤</span>
												{{ user.nom }}
												{{ user.prenom }}
											</li>
										{% endif %}
									{% endfor %}
									{% if not hasUsers %}
										<li>Aucun utilisateur associé.</li>
									{% endif %}
								</ul>
							</td>
							<td>
								<!-- Affichage des actions -->
								<button type="button" class="btn btn-secondary consulter rounded" onclick="window.open('{{ path('app_tachesclientsadmin', { 'clientId': client.id }) }}', '_blank')">VISUALISER</button>
								<button type="button" class="btn btn-secondary consulter rounded" onclick="window.location.href='{{ path('app_adminforum', { 'id': client.id }) }}'">FORUM</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div id="modal-forums" class="modal" style="display:none;">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2>Résumés du client</h2>
			<div id="forum-contents"></div>
		</div>
	</div>

	<!-- Conteneur pour la barre de recherche et les webtasks -->
	<div id="webtasks-container"></div>

	<!-- SCRIPT JS -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
	<script src="{{ asset('./assets/js/clientDePagosAdmin.js') }}"></script>
{% endblock %}