{% extends 'base.html.twig' %}

{% block title %}Créer un client - ADMIN{% endblock %}

{% block head %}
	<!-- CSS -->
	<link href="{{ asset('./assets/css/creationClientAdmin.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	{% include('/partials/navigationAdmin.html.twig') %}

	{% if app.flashes('error') %}
		<div class="alert alert-danger">
			{% for message in app.flashes('error') %}
				<p>{{ message }}</p>
			{% endfor %}
		</div>
	{% endif %}

	{% if app.flashes('success') %}
		<div class="alert alert-success">
			{% for message in app.flashes('success') %}
				<p>{{ message }}</p>
			{% endfor %}
		</div>
	{% endif %}

	<div class="custom-rectangle">
		<h2 class="form-title">CRÉER UN CLIENT</h2>

		<div class="form-container">
			{{ form_start(form) }}

			<div class="form-group">
				{{ form_label(form.id, null, {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(form.id, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(form.id) }}
			</div>

			<div class="form-group">
				{{ form_label(form.code, null, {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(form.code) }}
			</div>

			<div class="form-group">
				{{ form_label(form.raisonsociale, null, {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(form.raisonsociale, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(form.raisonsociale) }}
			</div>

			<div class="form-group">
				{{ form_label(form.google_drive_webtask, null, {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(form.google_drive_webtask, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(form.google_drive_webtask) }}
			</div>

			<div class="form-group">
				{{ form_label(form.webtaskOuvertureContact, null, {'label_attr': {'class': 'form-check-label'}}) }}
				{{ form_widget(form.webtaskOuvertureContact, {'attr': {'class': 'form-check-input'}}) }}
				{{ form_errors(form.webtaskOuvertureContact) }}
			</div>

			<div class="form-group">
				{{ form_label(form.responsable, null, {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(form.responsable, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(form.responsable) }}
			</div>

			<div class="btn-group" role="group">
				<button type="submit" class="btn btn-secondary" id="submitButton">
					<b>ENREGISTRER</b>
				</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>

	<!-- JS de Bootstrap et dépendances -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
	<script src="{{ asset('./assets/js/creationClientAdmin.js') }}"></script>
{% endblock %}