{% extends 'base.html.twig' %}

{% block title %}Gestion des Clients - ADMIN{% endblock %}

{% block head %}
    <!-- CSS -->
    <link href="{{ asset('./assets/css/gestionClientAdmin.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {% include('/partials/navigationAdmin.html.twig') %}

    <div class="client-container">
        <h1 class="client-title">LISTE DES CLIENTS</h1>
        <div class="client-card">
			<!-- Table d'affichage des clients -->
            <table class="client-table">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Nom du client</th>
                        <th>Activation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr>
                            <td><img src="data:image/png;base64,{{ client.logoBase64 }}" alt="Logo de {{ client.raisonSociale }}" class="client-img"/></td>
							<td>{{ client.raisonSociale }}</td>
                            <td>
                                <button class="btn btn-primary toggle-status" 
                                    data-client-id="{{ client.id }}" 
                                    data-status="{{ client.webtaskOuvertureContact }}">
                                    {{ client.webtaskOuvertureContact == 1 ? 'ON' : 'OFF' }}
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary consulter rounded" onclick="window.location.href='{{ path('app_edit_client', {'id': client.id}) }}'">MODIFIER</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- JS de Bootstrap et dépendances -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="{{ asset('./assets/js/gestionClientAdmin.js') }}"></script>
{% endblock %}
