{% extends 'base.html.twig' %}

{% block title %}Imports / Exports - ADMIN{% endblock %}

{% block head %}
	<!-- CSS -->
    <link href="{{ asset('./assets/css/importExportAdmin.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	{% include('/partials/navigationAdmin.html.twig') %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.flashes('warning') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.flashes('debug') %}
		<div class="alert alert-info">
			{{ message }}
		</div>
	{% endfor %}

	<div class="container mt-5">
		<!-- Section Import -->
		<h2 class="text-center">IMPORTS</h2>
		<div class="center-button">
			<form action="{{ path('app_import_clients') }}" method="post">
				<button type="submit" class="btn btn-secondary">IMPORTER DES CLIENTS</button>
			</form>
			<form action="{{ path('app_import_users') }}" method="post">
				<button type="submit" class="btn btn-secondary">IMPORTER DES UTILISATEURS</button>
			</form>
			<form action="{{ path('app_import_webtasks') }}" method="post" id="importWebtasksForm">
				<button type="submit" class="btn btn-secondary" id="importWebtasksButton">IMPORTER DES WEBTASK</button>
			</form>
		</div>

		<!-- Section Export -->
		<h2 class="text-center mt-5">EXPORTS</h2>
		<div class="center-button">
			<form action="{{ path('app_export_webtasks') }}" method="get">
				<button type="submit" class="btn btn-secondary">EXPORTER DES WEBTASK</button>
			</form>
		</div>

		<!-- Section Bouton Notification -->
		<h2 class="text-center mt-5">NOTIFICATIONS</h2>
		<div class="center-button">
			<form action="{{ path('reset_notifications_visibility') }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir rendre toutes les notifications invisibles ?');">
				<button type="submit" class="btn btn-warning">NOTIFICATIONS INVISIBLES</button>
			</form>
		</div>
	</div>

	<!-- JS de Bootstrap et dépendances -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
	<script src="{{ asset('./assets/js/importExportAdmin.js') }}"></script>
{% endblock %}