{% extends 'base.html.twig' %}

{% block title %}Modifier un client - ADMIN{% endblock %}

{% block head %}
    <!-- CSS -->
    <link href="{{ asset('./assets/css/ModifierClientAdmin.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {% include('/partials/navigationAdmin.html.twig') %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <div class="user-list-container">
        <h1 class="user-list-title">Modifier Client: {{ client.raisonsociale }}</h1>
        {{ form_start(form) }}
        {{ form_row(form.raisonsociale) }}
        {{ form_row(form.code) }}
        {{ form_row(form.webtaskOuvertureContact) }}
        {{ form_end(form) }}
        <button class="btn btn-success">Enregistrer</button>
    </div>

    <!-- JS de Bootstrap et dépendances -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
{% endblock %}
