{% extends 'base.html.twig' %}

{% block title %}Tâches - ADMIN{% endblock %}

{% block head %}
	<!-- CSS -->
    <link href="{{ asset('./assets/css/tachesAdmin.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% include('/partials/navigationAdmin.html.twig') %}

    <div class="search-filter-container">
        <div class="custom-search-bar">
            <input type="text" class="custom-search-input" placeholder="Rechercher une WebTask 🔎" value="{{ query }}">
        </div>

        <div class="custom-dropdown avancement-dropdown">
            <button class="custom-filter-button dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Avancements
            </button>
            <ul class="custom-dropdown-menu dropdown-menu" aria-labelledby="filterDropdown">
                <li><label><input type="checkbox" class="avancement-checkbox" value="all"> Tous les avancements</label></li>
                <hr>
                <li><label><input type="checkbox" class="avancement-checkbox" value="0" checked> Non Prise en Compte</label></li>
                <li><label><input type="checkbox" class="avancement-checkbox" value="1" checked> Prise en Compte</label></li>
                <li><label><input type="checkbox" class="avancement-checkbox" value="2" checked> Terminée</label></li>
                <li><label><input type="checkbox" class="avancement-checkbox" value="3" checked> ❇️ Amélioration ❇️</label></li>
                <li><label><input type="checkbox" class="avancement-checkbox" value="4" checked> ⛔️ Refusée ⛔️</label></li>
                <li><label><input type="checkbox" class="avancement-checkbox" value="5"> ✅ Validée</label></li>
                <li><label><input type="checkbox" class="avancement-checkbox" value="6" checked> ❌ Stop Client ❌</label></li>
                <li><label><input type="checkbox" class="avancement-checkbox" value="7" checked> 😃 Go Client 😃</label></li>
            </ul>
        </div>

        <div class="custom-dropdown pilote-dropdown">
            <button class="custom-filter-button dropdown-toggle" type="button" id="filterPiloteDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Pilotes
            </button>
            <ul class="custom-dropdown-menu dropdown-menu" aria-labelledby="filterPiloteDropdown">
                {% for piloteId, pilote in pilotes %}
                <li>
                    <label>
                        <input type="checkbox" class="pilote-checkbox" value="{{ piloteId }}">
                        {{ pilote.initiale }} {{ pilote.nom }}
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="activeFilters" class="active-filters">
        <span>Aucun filtre actif</span>
    </div>

    <div class="container-custom" id="taskContainer">
        {% if webtasks is not empty %}
            {% for webtask in webtasks %}
                {% if webtask.etatdelawebtask == 'ON' %}
                    <div class="custom-rectangle {% if webtask.avancementdelatache == '5' %}hidden{% endif %}" 
                        data-code="{{ webtask.webtask }}" 
                        data-titre="{{ webtask.titre }}" 
                        data-avancement="{{ webtask.avancementdelatache }}" 
                        data-pilote="{{ webtask.piloteid.id }}">
                        <h2><b>{{ webtask.titre }}</b></h2>
                        <ul>
                            <li><b><u>WebTask :</u></b> {{ webtask.webtask }}</li>
                            <li><b><u>Description :</u></b> {{ webtask.description|nl2br }}</li>
                            <li><b><u>Date de fin demandée :</u></b> {{ webtask.datefinDemandee }}</li>
                            <li><b><u>Avancement de la tâche :</u></b> <span class="{{ webtask.mappedAvancement.class }}">{{ webtask.mappedAvancement.label }}</span></li>
                            <li><b><u>Créateur :</u></b>  {{ (webtask.iddemandeur.prenom[:1] ~ '. ' ~ webtask.iddemandeur.nom)|upper }}</li>
                            <li><b><u>Responsable :</u></b> {{ (webtask.responsable.prenom[:1] ~ '. ' ~ webtask.responsable.nom)|upper }}</li>
                            <li><b><u>Pilote :</u></b> {{ (webtask.piloteid.prenom[:1] ~ '. ' ~ webtask.piloteid.nom)|upper }}</li>
                            <li><b><u>Version :</u></b> {{ webtask.versionLibelle }}</li>
                        </ul>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary consulter rounded" onclick="window.location.href='{{ path('app_consultertachesadmin', { 'id': webtask.code }) }}'">CONSULTER</button>
                            {% if app.user.roleWx == 'createur' %}
                                {% set allowed_ids = ['e4e080b3758761bd01758f5fcfed03d9'] %}
                                {% if app.user.idclient and app.user.idclient.getId() not in allowed_ids %}
                                    <button type="button" class="btn btn-secondary repondre consulter rounded" onclick="window.location.href='{{ path('app_reponsetaches', { 'id': webtask.id }) }}'">RÉPONDRE</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Aucune tâche disponible.</p>
        {% endif %}
    </div>

    <!-- Boutons pages suivantes/précédentes -->
    {# <div class="center-button-container">
        <button id="prevPageBtn" class="center-button">
            <i class="fas fa-chevron-left"></i> Page précédente
        </button>
        <button id="nextPageBtn" class="center-button">
            Page suivante <i class="fas fa-chevron-right"></i>
        </button>
    </div> #}

    <!-- Affichage de l'information sur la page -->
    <div class="page-info">
        <span id="pageInfoText"></span>
    </div>

    <!-- SCRIPT JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Injecter les données des pilotes dans une variable JavaScript
        const piloteData = {
            {% for piloteId, pilote in pilotes %}
                "{{ piloteId }}": {
                    initiale: "{{ pilote.initiale }}",
                    nom: "{{ pilote.nom }}"
                },
            {% endfor %}
        };
    </script>
    <script src="{{ asset('./assets/js/tachesAdmin.js') }}"></script>
{% endblock %}