{% extends 'base.html.twig' %}

{% block title %}Client de PAGOS{% endblock %}

{% block head %}
	<!-- CSS -->
    <link href="{{ asset('./assets/css/clientDePagosClient.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	{% include('/partials/navigationClient.html.twig') %}

    <div class="client-container">
		<h2 class="title">CLIENTS DU CABINET PAGOS</h2>
		<div class="client-card">
			<!-- Table d'affichage des clients -->
			<table class="client-table">
				<thead>
					<tr>
						<th>Logo</th>
						<th>Nom du Client</th>
						<th>Utilisateurs Associés</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for client in clients %}
					<tr>
						<td><img src="data:image/png;base64,{{ client.logoBase64 }}" alt="Logo de {{ client.raisonSociale }}" class="client-img"/></td>
						<td>{{ client.raisonSociale }}</td>
						<td>
							<ul>
								{% set hasUsers = false %}
								{% for user in users %}
									{% if user.idclient is not null and user.idclient.getid() == client.id %}
										{% set hasUsers = true %}
										<li>
											<span class="user-icon">👤</span>
											{{ user.nom }}
											{{ user.prenom }}
										</li>
									{% endif %}
								{% endfor %}
								{% if not hasUsers %}
									<li>Aucun utilisateur associé.</li>
								{% endif %}
							</ul>
						</td>
						<td>
							<!-- Affichage des actions -->
							<button type="button" class="btn btn-secondary consulter rounded" onclick="window.open('{{ path('app_tachesclients', { 'clientId': client.id }) }}', '_blank')">VISUALISER</button>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

    <!-- Conteneur pour la barre de recherche et les webtasks -->
    <div id="webtasks-container"></div>

    <!-- SCRIPT JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="{{ asset('./assets/js/clientDePagosClient.js') }}"></script>
{% endblock %}