{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block head %}
	<!-- CSS -->
    <link href="{{ asset('./assets/css/forumClient.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	{% include('/partials/navigationClient.html.twig') %}
		
	<!-- Hero Section -->
	<div class="hero-section text-center">
		<h2>Forum du Client :
			{{ client.raisonSociale }}</h2>
	</div>

	<!-- Main Content -->
	<div class="container mt-5">
		<div id="forum-contents">
			{% if forums is empty %}
				<p class="no-content">Aucun Chat disponible pour ce client.</p>
			{% else %}
				{% for forum in forums %}
					<div class="forum-entry">
						<p>
							<strong>Date :</strong>
							{{ forum.date|date('d/m/Y H:i') }}</p>

						<pre style="white-space: pre-wrap; font-family: 'Poppins', sans-serif;">{{ forum.content }}</pre>
						<hr>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>

	<!-- JS de Bootstrap et dépendances -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
	<script src="{{ asset('./assets/js/forumClient.js') }}"></script>
{% endblock %}