{% extends 'base.html.twig' %}

{% block title %}Répondre à une tâche{% endblock %}

{% block head %}
	<!-- CSS -->
    <link href="{{ asset('./assets/css/reponseTacheClient.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	{% include('/partials/navigationClient.html.twig') %}

	<br>

	<div class="container">
		<div class="title-container">
			<h4 class="title01"><b>{{webtask.titre}}</b></h4>
			<h4 class="title02"><b>{{ webtask.libelle }}</b></h4>
		</div>
	</div>

	<form method="post" action="{{ path('app_reponsetaches', { id: webtask.id }) }}" id="taskForm" class="task-form">
		<div class="form">
			<div class="form-group">
				<label for="description"><b><u>Description :</u></b></label>
				<div id="description" class="description-text"><b>{{ webtask.description|nl2br }}</b></div>
			</div>

			<div class="form-row">
				<div class="form-group">
					<label for="due_date"><b><u>Date de Fin Demandée :</u></b></label>
					<input type="text" id="due_date" name="due_date" value="{{ webtask.DateFinDemandee }}" placeholder="Renseigner la date de fin demandée" required>
				</div>
				<div class="form-group">
					<label for="progress">
						<b><u>État d'avancement :</u></b>
					</label>
					<div id="progress" class="{{ mappedAvancement.class }}">{{ mappedAvancement.label }}</div>
				</div>
				<div class="form-group">
					<label for="version"><b><u>Version :</u></b></label>
					<div id="version">{{ webtask.versionLibelle }}</div>
				</div>
				<div class="form-group">
					<label for="database"><b><u>Base de données :</u></b></label>
					{% if webtask.baseclient is empty %}
						<div id="database">Non renseignée</div>
					{% else %}
						<div id="database">{{ webtask.baseclient }}</div>
					{% endif %}
				</div>
				<div class="form-group">
					<label for="tag"><b><u>Tag :</u></b></label>
					<div id="tag" class="{{ tagClass }}">{{ mappedTag }}</div>
				</div> 
			</div>

			<div class="form-group">
				<label for="nouveau_commentaire"><b><u>Nouveau commentaire :</u></b></label>
				<textarea id="nouveau_commentaire" name="nouveau_commentaire" rows="4" placeholder="Renseigner le nouveau commentaire" required></textarea>
			</div>

			<div class="form-group">
				<label for="fileUpload">
					<b><u>Souhaitez-vous déposer des fichiers ?</u></b>
				</label>
				<div>
					<button type="button" class="btn btn-success" onclick="handleFileUpload(true, '{{ googleDriveLink }}')">Oui</button>
					<button type="button" class="btn btn-danger" onclick="handleFileUpload(false)">Non</button>
				</div>
				<div id="fileUploadSection" style="display: none; margin-top: 15px;">
					<div id="fileInputContainer"></div>
				</div>
			</div>

			<!-- Bouton ENREGISTRER, masqué initialement -->
			<div class="btn-group" role="group">
				<button type="submit" class="btn btn-secondary" id="submitButton" style="display: none;">
					<b>ENREGISTRER</b>
				</button>
			</div>
		</div>
	</form>

	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="{{ asset('./assets/js/reponseTacheClient.js') }}"></script>
{% endblock %}